body p,
a {
  
  max-width: 100%;
}
#navbar h1 {
  font-size: 20px;
}
.container {
  padding: 5px 5px;
}
#navbar {
  line-height: 3px;
}
#hero .hero-content {
  padding-top: 40px;
}
.text-lead {
  padding-bottom: 10px;
  font-size: 15px;
}
#hero {
  height: 360px;
}
.btn {
  font-size: 14px;
}

/* conten1 */
#about .content-1,
#about .content-2,
#about .content-3 {
  float: center;
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding-top: 10px;
}
p {
  display: block;
  font-size: 15px;
}
i {
  margin-bottom: 0px;
}
h2 {
  padding: 0px;
}
#about {
  height: auto;
}
#testimonials {
  background: url(../image/section.jpg) no-repeat center center/cover;
  height: 550px;
  overflow: hidden;
}

#testimonials .testimonial {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 1.2em;
}
#testimonials .testimonial img {
  height: 60px;
  width: 60px;
  margin-right: 8px;
  border-radius: 50%;
}
#testimonials .testimonial img.imahe2 {
  float: right;
  padding: 5px;
}
#right{
    text-align: right;
}
footer{
    height: 50px;
    overflow: auto;
}